SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_READ_TIMEOUT=5
SERVER_WRITE_TIMEOUT=10
SERVER_IDLE_TIMEOUT=60
THEMES_ROOT_PATH=./themes
CACHE_SHELL_MAX_AGE=300
CACHE_WARM_UP_ON_BOOT=true
CDN_BASE_URL=
DEFAULT_LOCALE=pt-BR
DEFAULT_CURRENCY=BRL
